<!--  
<h1>Articles#index</h1>
<p>Find me in app/views/articles/index.html.erb</p>
-->


<% flash.each do |key,value|%>
	<div class="alert alert-<%key%> "><%=value%></div> 
<% end %>
<div class="jumbotron text-center">
<h4>
	<% if !current_user %> 
	Anda harus login dulu
	<% elsif current_user.username%>
	si admin <%= current_user.username%> comebackk!
	<% else %>
	Hello <%= current_user.username %> selamat datang di Departemen kepastian
	<% end %>
</h4>
<p><i>departemen kepastian, jangan jadikan kami alasan bahwa anda kecewa</i></p>
</div>

<div class="row mt-3">
	<form id="get_search">
		<div class="form-group">
			<input class="form-control-sm" type="search" placeholder="Type here to search" arial-label="Search" name="search">
			<input class="btn btn-sm btn-outline-info" type="button" onclick="submitFrmAjax();" value="Search">
		</div>
	</form>
</div>



<div id="article_list">
	<div class="card-columns justify-content-center">
		<%= render @articles %>
	</div>
	<ul class="pagination justify-content-center">
		<%= paginate @articles %>
	</ul>
</div>
<%= javascript_include_tag 'custom'%>